/* CSS3 on/off switches */
input[type=checkbox].ace.ace-switch {
    width: 60px;
    margin: 0 4px;
}

    input[type=checkbox].ace.ace-switch + .lbl {
        min-height: 25px;
        top: 5px;
    }

        /*OFF*/
        input[type=checkbox].ace.ace-switch + .lbl::before {
            content: "OFF";
            padding-right: 4px;
            line-height: 19px;
            width: 60px;
        }
    /*ON*/
    input[type=checkbox].ace.ace-switch:checked + .lbl::before {
        content: 'ON';
        padding-left: 0;
    }

    input[type=checkbox].ace.ace-switch + .lbl::after {
        top: -2px;
        left: 0;
        transition: all .3s cubic-bezier(0.5, 0.05, 0.5, 1) !important;
        -moz-transition: all .3s cubic-bezier(0.5, 0.05, 0.5, 1) !important;
        -o-transition: all .3s cubic-bezier(0.5, 0.05, 0.5, 1) !important;
        -webkit-transition: all .3s cubic-bezier(0.5, 0.05, 0.5, 1) !important;
    }

    input[type=checkbox].ace.ace-switch:checked + .lbl::after {
        left: 38px;
    }

    input[type=checkbox].ace.ace-switch.btn-rotate + .lbl::after {
        content: "\2261";
        font-size: 130%;
    }


    input[type=checkbox].ace.ace-switch.ace-switch-2 + .lbl::before {
        content: "NO";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-2:checked + .lbl::before {
        content: "YES";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-3 + .lbl::before {
        content: "OFF";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-3:checked + .lbl::before {
        content: "ON";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-4:checked + .lbl::before {
        content: "ON";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-5 + .lbl::before {
        content: "NO";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-5:checked + .lbl::before {
        content: "YES";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-6 + .lbl::before {
        content: "\f00d";
        width: 55px;
        line-height: 22px;
        font-size: 12px;
        text-indent: 0;
    }

    input[type=checkbox].ace.ace-switch.ace-switch-6:checked + .lbl::before {
        content: "\f00c";
    }

    input[type=checkbox].ace.ace-switch.ace-switch-6 + .lbl::after {
        left: 2px;
    }

    input[type=checkbox].ace.ace-switch.ace-switch-6:checked + .lbl::after {
        left: 35px;
    }

    input[type=checkbox].ace.ace-switch.ace-switch-7 + .lbl::before {
        content: "OFF";
        text-align: left;
        padding-right: 2px;
    }

    input[type=checkbox].ace.ace-switch.ace-switch-7:checked + .lbl::before {
        content: "ON";
        text-align: right;
        padding-left: 40px;
        text-indent: 0;
    }

    input[type=checkbox].ace.ace-switch.ace-switch-7 + .lbl::after {
        content: '\f00d';
    }

    input[type=checkbox].ace.ace-switch.ace-switch-7:checked + .lbl::after {
        content: '\f00c';
    }

    input[type=checkbox].ace.ace-switch:checked + .lbl[data-on]::before,
    input[type=checkbox].ace.ace-switch:checked + .lbl::before {
        text-align: left;
        content: attr(data-on);
        /*background-color: attr(data-onco);*/
    }

    input[type=checkbox].ace.ace-switch + .lbl[data-off]::before,
    input[type=checkbox].ace.ace-switch + .lbl::before {
        text-align: right;
        content: attr(data-off);
        /*background-color: attr(data-ofco);*/
    }



/* CSS3 on/off switches */
input[type=checkbox].ace2.ace-switch2 {
    width: 55px;
    height: 25px;
}

input[type=checkbox].ace.ace-switch2 + .lbl {
        margin: 0 4px;
        min-height: 24px;
}

/*OFF*/
input[type=checkbox].ace.ace-switch2 + .lbl::before {
            font-family: 'Open Sans';
            content: "OFF";
            text-align: end;
            padding-right: 8%;
            color: #999;
            text-shadow: 0 0 0 #999;
            font-weight: normal;
            font-size: 100%;
            line-height: 17px;
            height: 20px;
            overflow: hidden;
            border-radius: 12px;
            background-color: #F5F5F5;
            -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
            border: 1px solid #CCC;
            float: right;
            width: 50px;
            margin-right: 0;
            -webkit-transition: text-indent .3s ease;
            -o-transition: text-indent .3s ease;
            transition: text-indent .3s ease;
            top: auto;
}

input[type=checkbox].ace.ace-switch2 + .lbl::after {
            font-family: 'Open Sans';
            content: 'lll'; /*162*/
            font-size: 12px;
            font-weight: normal;
            letter-spacing: 0;
            color: #AAA;
            text-shadow: none;
            background-color: #FFF;
            border-radius: 100%;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            position: absolute;
            top: -2px;
            left: -3px;
            -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
            box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
            -webkit-transition: left .3s ease;
            -o-transition: left .3s ease;
            transition: left .3s ease;
}
/*ON*/
input[type=checkbox].ace.ace-switch2:checked + .lbl::before {
        content: 'ON';
        text-align: start;
        padding-left: 10%; /*文字距離右方*/
        color: #FFF;
        text-shadow: 0 0 0 #FFF;
        background-color: #8ab2c9;
        border-color: #6a8ca8;
}

input[type=checkbox].ace.ace-switch2:checked + .lbl::after {
        left: 30px;
        background-color: #FFF;
        color: #98A0A5;
        content: 'lll'; /*193*/
}

input[type=checkbox].ace.ace-switch2.ace-switch-2 + .lbl::before {
        content: "NO";
        text-align: end;
        padding-right: 6%;
}

input[type=checkbox].ace.ace-switch2.ace-switch-2:checked + .lbl::before {
        content: "YES";
        text-align: start;
        padding-right: 10%;
}

input[type=checkbox].ace.ace-switch2.ace-switch-3 + .lbl::after {
        font-family: FontAwesome;
        font-size: 13px;
        line-height: 22px;
        content: "\f00d";
        top: -1px;
        text-shadow: none;
        padding: 0;
        text-align: center;
        color: #BBB;
        letter-spacing: 0;
}

input[type=checkbox].ace.ace-switch2.ace-switch-3:checked + .lbl::after {
        content: "\f00c";
        color: #8AB2C9;
        text-shadow: none;
}

input[type=checkbox].ace.ace-switch2.ace-switch-4,
input[type=checkbox].ace.ace-switch2.ace-switch-5 {
        width: 60px;
}
/*關*/
input[type=checkbox].ace.ace-switch2.ace-switch-4 + .lbl::before,
input[type=checkbox].ace.ace-switch2.ace-switch-5 + .lbl::before {
            content: "OFF";
            text-align: end;
            padding-right: 8%;
            font-size: 12px;
            line-height: 21px;
            height: 24px;
            overflow: hidden;
            border-radius: 12px;
            background-color: #8b9aa3;
            border: 1px solid #8b9aa3;
            color: #FFF;
            width: 56px;
            text-shadow: 0 0 0 #FFF;
            display: inline-block;
            position: relative;
            box-shadow: none;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
}

input[type=checkbox].ace.ace-switch2.ace-switch-5 + .lbl::before {
            content: "NO";
}

input[type=checkbox].ace.ace-switch2.ace-switch-4 + .lbl::after,
input[type=checkbox].ace.ace-switch2.ace-switch-5 + .lbl::after {
            content: 'lll';
            font-size: 11px;
            position: absolute;
            top: 2px;
            left: 2px;
            letter-spacing: 0;
            width: 20px;
            height: 20px;
            line-height: 19px;
            text-shadow: none !important;
            color: #939393;
            background-color: #FFF;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
}
/*開*/
input[type=checkbox].ace.ace-switch2.ace-switch-4:checked + .lbl::before,
input[type=checkbox].ace.ace-switch2.ace-switch-5:checked + .lbl::before {
            content: "ON";
            text-align: start;
            padding-right: 10%;
            background-color: #468fcc;
            border-color: #468FCC;
}

input[type=checkbox].ace.ace-switch2.ace-switch-5:checked + .lbl::before {
            content: "YES";
            padding-left: 0;
}

input[type=checkbox].ace.ace-switch2.ace-switch-4:checked + .lbl::after,
input[type=checkbox].ace.ace-switch2.ace-switch-5:checked + .lbl::after {
            left: 34px;
            background-color: #FFF;
            color: #848484;
            content: "lll";
}

input[type=checkbox].ace.ace-switch2.ace-switch-6 + .lbl {
        position: relative;
}

input[type=checkbox].ace.ace-switch2.ace-switch-6 + .lbl::before {
            font-family: FontAwesome;
            content: "\f00d";
            padding-right: 15%;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            box-shadow: none;
            border-width: 0;
            font-weight: lighter;
            font-size: 16px;
            border-radius: 12px;
            display: inline-block;
            background-color: #888;
            color: #F2F2F2;
            width: 52px;
            height: 22px;
            line-height: 21px;
            -webkit-transition: background 0.1s ease;
            -o-transition: background 0.1s ease;
            transition: background 0.1s ease;
}

input[type=checkbox].ace.ace-switch2.ace-switch-6 + .lbl::after {
            content: '';
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 2px;
            left: 3px;
            border-radius: 12px;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            width: 18px;
            height: 18px;
            text-align: center;
            background-color: #F2F2F2;
            border: 4px solid #F2F2F2;
            -webkit-transition: left 0.2s ease;
            -o-transition: left 0.2s ease;
            transition: left 0.2s ease;
}

input[type=checkbox].ace.ace-switch2.ace-switch-6:checked + .lbl::before {
        content: "\f00c";
        text-indent: 10%;
        color: #FFF;
        border-color: #b7d3e5;
        background-color: #ff893c;
}

input[type=checkbox].ace.ace-switch2.ace-switch-6:checked + .lbl::after {
        left: 32px;
        background-color: #FFF;
        border: 4px solid #FFF;
        text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}

input[type=checkbox].ace.ace-switch2.ace-switch-7 {
        width: 75px;
}

input[type=checkbox].ace.ace-switch2.ace-switch-7 + .lbl {
            position: relative;
}

input[type=checkbox].ace.ace-switch2.ace-switch-7 + .lbl::before {
                content: "OFF";
                text-align: start;
                padding-left: 10%;
                font-weight: bolder;
                font-size: 13px;
                line-height: 20px;
                background-color: #FFF;
                border: 2px solid #AAA;
                border-radius: 0;
                box-shadow: none;
                color: #AAA;
                width: 74px;
                height: 26px;
                line-height: 22px;
                overflow: hidden;
                display: inline-block;
                position: relative;
                -webkit-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
}

input[type=checkbox].ace.ace-switch2.ace-switch-7 + .lbl::after {
                content: '\f00d';
                font-family: FontAwesome;
                font-size: 16px;
                position: absolute;
                top: 3px;
                left: 39px;
                width: 32px;
                height: 20px;
                line-height: 18px;
                text-align: center;
                padding: 0;
                text-indent: 0;
                background-color: #AAA;
                color: #FFF;
                border-radius: 0;
                box-shadow: none;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
}

input[type=checkbox].ace.ace-switch2.ace-switch-7:checked + .lbl::before {
            content: "ON";
            text-align: end;
            padding-right: 8%;
            color: #468fcc;
            background-color: #FFF;
            text-indent: 28px;
            border-color: #6fb3e0;
}

input[type=checkbox].ace.ace-switch2.ace-switch-7:checked + .lbl::after {
            left: 3px;
            content: '\f00c';
            background-color: #468fcc;
            color: #FFF;
}

input[type=checkbox].ace.ace-switch2 + .lbl[data-lbl]::before {
        content: attr(data-lbl);
}

input[type=checkbox].ace.ace-switch2:checked + .lbl[data-on]::before {
        content: attr(data-on);
}

input[type=checkbox].ace.ace-switch2 + .lbl[data-off]::before {
        content: attr(data-off);
}

input[type=checkbox].ace.ace-switch2.btn-empty + .lbl::after {
        content: "";
}

input[type=checkbox].ace.ace-switch2.btn-rotate + .lbl::after {
        content: "\2261";
        line-height: 90%;
        font-size: 150%;
}

input[type=checkbox].ace.ace-switch-4.btn-rotate + .lbl::after,
input[type=checkbox].ace.ace-switch-5.btn-rotate + .lbl::after {
    line-height: 17px;
}

input[type=checkbox].ace.ace-switch-4.btn-rotate:checked + .lbl::after,
input[type=checkbox].ace.ace-switch-5.btn-rotate:checked + .lbl::after {
    content: "\2261";
}

input[type=checkbox].ace.ace-switch2.btn-flat + .lbl::before,
input[type=checkbox].ace.ace-switch2.btn-flat + .lbl::after {
    border-radius: 0 !important;
}
